<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.areasvolumenesypyf">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AreasVolumenesYPYF"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAreasActivity"
            android:exported="true"
            android:label="@string/menuareas"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".HexagonoActivity"
            android:exported="true"
            android:label="@string/areaHexagono"
            android:parentActivityName=".MenuAreasActivity">
        </activity>
        <activity
            android:name=".PentagonoActivity"
            android:exported="true"
            android:label="@string/areaPentagono"
            android:parentActivityName=".MenuAreasActivity">
        </activity>
        <activity
            android:name=".CuadradoActivity"
            android:exported="true"
            android:label="@string/areaCuadrado"
            android:parentActivityName=".MenuAreasActivity">
        </activity>
        <activity
            android:name=".CirculoActivity"
            android:exported="true"
            android:label="@string/areaCirculo"
            android:parentActivityName=".MenuAreasActivity">
        </activity>
        <activity
            android:name=".TrianguloActivity"
            android:exported="true"
            android:label="@string/areaTriangulo"
            android:parentActivityName=".MenuAreasActivity">
        </activity>
        <activity
            android:name=".MenuVolumenesActivity"
            android:exported="true"
            android:label="@string/menuvolumenes"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".PHexagonalActivity"
            android:exported="true"
            android:label="@string/volumenPHexagonal"
            android:parentActivityName=".MenuVolumenesActivity">
        </activity>
        <activity
            android:name=".PPentagonalActivity"
            android:exported="true"
            android:label="@string/volumenPPentagonal"
            android:parentActivityName=".MenuVolumenesActivity">
        </activity>
        <activity
            android:name=".CuboActivity"
            android:exported="true"
            android:label="@string/volumenCubo"
            android:parentActivityName=".MenuVolumenesActivity">
        </activity>
        <activity
            android:name=".CilindroActivity"
            android:exported="true"
            android:label="@string/volumenCilindro"
            android:parentActivityName=".MenuVolumenesActivity">
        </activity>
        <activity
            android:name=".PTriangularActivity"
            android:exported="true"
            android:label="@string/volumenPTriangular"
            android:parentActivityName=".MenuVolumenesActivity">
        </activity>
    </application>

</manifest>